.menu {
    box-sizing: border-box;
    height: 100%;
    background-color: #3c8dbc;
    color: white !important;

  
}

.menu .btn-link {
    color:white;
}


.menuSecundario .navbar-brand {
    color: white;
    width: 250px;
    background-color: #367fa9;
    height: 40px;
    font-size: 22px;
    
}


@media (max-width: 768px) {
    .logo-mobile{
        display: none;
    }

    .menuSecundario .navbar-brand {
        display: none;
        color: white;
        width: 250px;
        background-color: #367fa9;
        height: 40px;
        font-size: 22px;
        
    }
}


@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }

}



