.menu {
    box-sizing: border-box;
    height: 100%;
    background-color: #3c8dbc;
}

.menuSecundario nav {
    height: 40px;
    z-index: 99990;
    color: white !important;
    padding-left: 0 !important;
    font-size: 12px;
}

.menuSecundario .navbar-brand {
    color: white;
    width: 250px;
    background-color: #367fa9;
    height: 40px;
    font-size: 22px;
    
}

#userHeaderMenu {
    align-items: flex-end !important;
    position: fixed;
    right: 0;
    padding-top: 4px;
    
}


@media (max-width: 768px) {
    .logo-mobile{

    }

    .menuSecundario .navbar-brand {
        display: none;
        color: white;
        width: 250px;
        background-color: #367fa9;
        height: 40px;
        font-size: 22px;
        
    }
}


@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }

}



