.menu {
    box-sizing: border-box;
    height: 100%;
    background-color: #3c8dbc;
}

.menuSecundario nav {
    height: 40px;
    z-index: 1050;
    color: white !important;
    padding-left: 0 !important;
}

.username a{
    color: white;
}

.menuSecundario .navbar-brand {
    color: white;
    width: 250px;
    background-color: #367fa9;
    height: 40px;
    font-size: 22px;
    
}

#userHeaderMenu {
    align-items: flex-end !important;
    position: fixed;
    right: 0;
    padding-top: 4px;
    
}

ul .dropdown-menu{
    font-size: 12px;
}
