body {
    font-size: 13px !important;
    background-color: #E8E8E8 !important;
}

.barra-acoes {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 10;
    background-color: #E8E8E8;
    border-bottom: 1px solid lightgray
    
}

.navbar-brand .logo{
    height: 40px;
    width: 100px;
    background-color: #3c8dbc
}
#conteudoNavbarSuportado{
    background-color: #3c8dbc !important;
    width: 100% !important;
}
.menu-principal {
    height: 60px !important;
    max-height: 60px;
    color: white !important;
    z-index: 1200;
    width: 100%;
    background-color: #3c8dbc !important;
    font-size: 16px !important;
}

.menu-principal .nav-link {
    color: white !important;
    font-weight: 500
}
.lista{
    width: 100%;
    background-color: #E8E8E8;
}

.userNameHeader {
    font-size: 12px !important;
}

.footerTemplate{
    height: 30px;
    background-color:white;
    border-top: 1px solid lightgray
}

.control-form-label {
    cursor: pointer;    
    font-weight: bold;
    width: 8rem;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.5;
    text-align: right;
}

/* Boostrap Hacks */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #dee2e6 !important;
    color: grey !important;
}

@media (max-width: 768px) {
    .conteudo {
        width: 100%;
        padding-left: 5px;
    }

    .control-form-label {
        text-align: left;    
    }


}
@media (min-width: 600px){
    .MuiToolbar-regular {
        min-height: 45px !important;
    }
}    