.barra-acoes {
    width: calc(100% - 250px);
    height: 40px;
    position: fixed;
    right: 0;
    padding-bottom: 40px;
    z-index: 1050;
    background-color: #E8E8E8;
    border-bottom: 1px solid lightgray
    
}

.lista{
    width: 100%;
    padding-top: 50px;
}

.conteudo {
    padding-left: 30px;
    padding-top: 80px;    
    width: 97%;
}

.control-form-label {
    cursor: pointer;    
    font-weight: bold;
    width: 8rem;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.5;
    text-align: right;
}