<nav id="sidebar" class="bg-dark">
    <div class="sidebar-header m-1 p-1">
        <h3>PisicAdmin</h3>
    </div>
    <hr class="m-0">
    <small class="text-center my-0">Menu Principal</small>
    <hr class="my-0">
    <ul class="list-unstyled components m-1 p-0">      
        
        <li class="active">
            <a href="#cadastros" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-book mr-2"></i>
                Cadastros
            </a>
            <ul class="collapse list-unstyled" id="cadastros">
                <li>
                    <a href="#" class="before">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Unidades
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Produtos
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Espécies
                    </a>
                </li>
            </ul>
        </li>
        <hr class="my-0">
        <li>
            <a href="#ulAnalise" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-bar-chart mr-1" aria-hidden="true"></i>
                Análises
            </a>
            <ul class="collapse list-unstyled" id="ulAnalise">
                <li>
                    <a href="#" class="before">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Água
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Amônia
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Oxienio
                    </a>
                </li>
            </ul>
        </li>
        <hr class="my-0">
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-file-excel-o mr-1" aria-hidden="true"></i>
                Relatórios
            </a>
            <ul class="collapse list-unstyled">
                <li>
                    <a href="#">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Page 1</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Page 2                        
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-genderless" aria-hidden="true"></i>
                        Page 3</a>
                </li>
            </ul>
        </li>
        <hr class="my-0">
        <li>
            <a href="#">Portfolio</a>
        </li>
        <hr class="my-0">
        <li>
            <a href="#">Contact</a>
        </li>
        <hr class="my-0">
    </ul>
</nav>