.menuSecundario nav {
    height: 100%;
    z-index: 1050;
    color: white !important;
    padding-left: 0 !important;
}

.username a{
    color: white;
}

.menuSecundario .navbar-brand {
    color: white;
    width: 250px;
    background-color: #0278c2;
    height: 40px;
    font-size: 22px
    
}

#userHeaderMenu {
    align-items: flex-end !important;
    margin-left: auto;
}

ul .dropdown-menu{
    font-size: 12px;
}
