<app-acoes-barras
    [btn8]="btnSalvar"
    (b8ClickOutput) = "salvar()"
></app-acoes-barras>



    <div class="form-group row">
      <label for="rsocial" class="col-sm-1 col-form-label">Razão Social:</label>
      <div class="col-sm-4">
          <input type="text" [(ngModel)]="cliente.rsocial" class="form-control" id="rsocial" placeholder="Razão Social">
      </div>
    </div>

    <div class="form-group row">
        <label for="fantasia" class="col-sm-1 col-form-label">Fantasia:</label>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="cliente.fantasia" class="form-control" id="fantasia" placeholder="Fantasia">
        </div>
    </div>

    <div class="form-group row">
        <label for="cnpj" class="col-sm-1 col-form-label">CNPJ:</label>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="cliente.cnpj" class="form-control" id="cnpj" placeholder="CNPJ">
        </div>     
    </div>
    <div class="form-group row">
        <label for="ie" class="col-sm-1 col-form-label">IE:</label>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="cliente.ie" class="form-control" id="cnpj" placeholder="Insc. Estadual">
        </div>
    </div>

    <div class="form-group row">
        <label for="endereco" class="col-sm-1 col-form-label">Endereço:</label>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="cliente.endereco" class="form-control" id="endereco" placeholder="Endereço">
        </div>
        <label for="numero" class="col-form-label">Nº:</label>
        <div class="col-sm-1">
            <input type="text" [(ngModel)]="cliente.numero" class="form-control" id="numero" placeholder="Número">
        </div>
    </div>

    <div class="form-group row">
        <label for="bairro" class="col-sm-1 col-form-label">Bairro:</label>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="cliente.bairro" class="form-control" id="bairro" placeholder="Bairro">
        </div>
    </div>

    <div class="form-group row">
        <label for="cidade" class="col-sm-1 col-form-label">Cidade:</label>
        <div class="col-sm-2">
           <select name="cidade" id="cidade" [(ngModel)]="cliente.cidade" class="form-control">
               <option *ngFor="let cidade of cidades" [ngValue]="cliente?.cidade?._id">{{cidade.nome}}</option>
           </select>
        </div>
    </div>



