


.menuPrincial nav {
    z-index: 1;    
    float: left;
    margin-top: 40px;
}

.menu-title {
    background-color: #1e282c !important;
    color: #4b646f !important;
    line-height: 30px;
}

a, a:hover, a:focus {
    color: white !important;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: darkblue !important;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #fff;
    transition: all 0.3s;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #1e282c !important;
    color: #fff;
    transition: all 0.3s;
}


#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: dimgray;
    background: darkgray;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    
}