.wrapper {
    display: flex;
    height: 99vh;
    margin-left: 2px;
    margin-right: 2px;
}

#content {
    margin-top: 40px;
    margin-left: 250px !important;
    width: calc(100%);
    height: calc(100%-100px);
    background-color: #ecf0f5;
    position: static;
    
}


#sidebar.active {
    margin-left: -250px;
    height: 100vh;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        height: 100vh;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

