

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/images/client-icon-blue.png" style="width: 64px; height: 64px;" id="icon" alt="User Icon" />
    </div>

    <br>

    <form [formGroup]="loginForm" (submit)="login()">
        <div class="p-2">
          <input class="form-control fadeIn second" placeholder="E-mail"  autofocus formControlName="login" #loginInput>
          <app-msg-form texto="O campo login é obrigatório!" *ngIf="loginForm.get('login').errors?.required"></app-msg-form>
        </div>
        <div class="p-2">
          <input type="password" class="form-control fadeIn third" placeholder="Senha" formControlName="password">
          <app-msg-form texto="O campo senha é obrigatório!" *ngIf="loginForm.get('password').errors?.required"></app-msg-form>
        </div>

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">
            Entrar
        </button>

    </form>
    <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
