

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mb-5">
      <img src="../../../assets/login_logo.png" style="width: 128px; height: 128px;" id="icon" alt="User Icon" />
    </div>

    <br>


    <button  (click)="loginWithGoogle()" class="btn btn-block btn-social btn-google text-center">
      <span class="fa fa-google"></span> Entrar com o Google
    </button>
    <br>
    <button  (click)="loginWithFacebook()" class="btn btn-block btn-social btn-facebook text-center">
      <span class="fa fa-facebook"></span> Entrar com o Facebook
    </button>

  </div>
</div>
