<nav class="navbar navbar-expand-sm navbar-light bg-primary" >
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['arearestrita']">Unidades</a>
          <a class="dropdown-item" href="#">Espécies</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Produtos</a>
        </div>
      </li>
    </ul>
    <div class="dropdown userMenu" *ngIf="user$ | async as user">
        <img src="{{user.photoUrl}}" alt="Avatar" class="avatar">
        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">{{user.name}}
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Área Restrita</a></li>
          <hr>
          <li><a href="#" (click)="logout()">Sair</a></li>
        </ul>
    </div>
  </div>
</nav>
