.wrapper {
    display: flex;
    height: 100%;
}

#content {
    padding-top: 40px;
    padding-left: 250px;
    width: 100%;
    background-color: #ecf0f5;
}


#sidebar.active {
    margin-left: -250px;
    height: 100vh;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        height: 100vh;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

