.wrapper {
    display: flex;
    height: 100%;
}



#sidebar.active {
    margin-left: -250px;
    height: 100vh;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        height: 100vh;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

