<div class="container">
    <div class="row col-12">
        <div class="col-2">
            <a [routerLink]="[ 'cliente' ]">
                <div class="card" style="width: 8rem;">
                    <h5></h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Cadastro de Clientes</h6>
                    <img class="card-img-top" src="../../../assets/company.png" alt="Imagem de capa do card">
                </div>
            </a>
        </div>

        <div class="col-2">
            <a [routerLink]="[ 'grupos' ]">
                <div class="card" style="width: 8rem;">
                    <h5></h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Grupos de Usuarios</h6>
                    <img class="card-img-top" src="../../../assets/images/group-icon-blue.png" alt="Imagem de capa do card">
                </div>
            </a>
        </div>
    </div>
</div>
