<form [formGroup]="pessoaForm">
    <div class="form-group row">
      <label for="nome" class="col-sm-1 col-form-label">Nome</label>
      <div class="col-sm-4">
          <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Nome Completo">
          <app-msg-form texto="O campo nome é obrigatório!" *ngIf="pessoaForm.get('nome').errors?.required"></app-msg-form>
      </div>
    </div>

    <div class="form-group row">
      <label for="endereco" class="col-sm-1 col-form-label ">Endereço</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" formControlName="endereco" id="endereco" placeholder="Endereço">
        <app-msg-form texto="O campo endereco é obrigatório!" *ngIf="pessoaForm.get('endereco').errors?.required"></app-msg-form>
      </div>
    </div>

    <div class="form-group row">
        <label for="enderecoNum" class="col-sm-1 col-form-label">Nº</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="enderecoNum" formControlName="enderecoNum">
          <app-msg-form texto="O campo número é obrigatório!" *ngIf="pessoaForm.get('enderecoNum').errors?.required"></app-msg-form>
        </div>
    </div>

    <div class="form-group row">
        <label for="bairro" class="col-sm-1 col-form-label">Bairro</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="bairro" placeholder="Bairro" formControlName="bairro">
          <app-msg-form texto="O campo bairro é obrigatório!" *ngIf="pessoaForm.get('bairro').errors?.required"></app-msg-form>
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-4">
          <input type="text" class="form-control small" id="email" placeholder="Email" formControlName="email">
          <app-msg-form texto="O campo email é obrigatório!" *ngIf="pessoaForm.get('email').errors?.required"></app-msg-form>
          <app-msg-form texto="O email deve ser válido!" *ngIf="pessoaForm.get('email').errors?.email"></app-msg-form>
        </div>
    </div>

    <div class="form-group row">
        <label for="celular" class="col-sm-1 col-form-label">Celular</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="celular" formControlName="celular">
          <app-msg-form texto="O campo celular é obrigatório!" *ngIf="pessoaForm.get('celular').errors?.required"></app-msg-form>
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-sm-1 col-form-label">Senha</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" id="password" placeholder="Senha" formControlName="password">
          <app-msg-form texto="O campo senha é obrigatório!" *ngIf="pessoaForm.get('password').errors?.required"></app-msg-form>
        </div>
      </div>
      <div class="form-group row">
        <button class="btn btn-sm btn-primary">Salvar</button>
      </div>
</form>
