<h4 class="text-center">Login</h4>

<form class="form mt-4" [formGroup]="loginForm" (submit)="login(loginForm)">

    <div class="form-group">
        <input class="form-control" placeholder="Login" autofocus formControlName="login" #loginInput>
        <app-msg-form texto="O campo login é obrigatório!" *ngIf="loginForm.get('login').errors?.required"></app-msg-form>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" placeholder="Senha" formControlName="password">
        <app-msg-form texto="O campo senha é obrigatório!" *ngIf="loginForm.get('password').errors?.required"></app-msg-form>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">
        Entrar
    </button>

</form>

<p>Não é usuario?<a>Registre-se</a></p>
